<div class="flex flex-col p-6">
  <!-- Logo -->
  <div class="tracking-widest mt-3 text-3xl font-semibold">Dashboard</div>
  <!-- Menu 1 -->
  <div class="flex flex-col space-y-2 mt-20">
    <!-- Item 1 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Home</div>
      </a>
    </div>
    <!-- Item 2 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Profile</div>
      </a>
    </div>
    <!-- Item 3 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Messages</div>
      </a>
    </div>
    <!-- Item 4 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <polyline points="12 7 12 12 15 15"></polyline>
          </svg>
        </div>
        <div class="text-lg mt-1">History</div>
      </a>
    </div>
    <!-- Item 5 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Tasks</div>
      </a>
    </div>
    <!-- Item 6 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Communities</div>
      </a>
    </div>
  </div>
  <!-- Menu 2 -->
  <div class="flex flex-col space-y-2 mt-20">
    <!-- Item 1 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            ></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </div>
        <div class="text-lg mt-1">Settings</div>
      </a>
    </div>
    <!-- Item 2 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Support</div>
      </a>
    </div>
    <!-- Item 3 -->
    <div class="flex flex-row items-center justify-start group">
      <a href="#" class="flex items-center space-x-4 group-hover:text-blue-200">
        <div>
          <svg
            class="h-6 w-6 text-white group-hover:text-blue-200"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
            ></path>
          </svg>
        </div>
        <div class="text-lg mt-1">Privacy</div>
      </a>
    </div>
  </div>
</div>
