<div class="container max-w-full mx-auto min-h-screen">
  <div class="flex items-center justify-between">
    <div class="bg-blue-500 min-h-screen w-1/4 flex flex-col items-center p-6">
      <!-- Dashboard -->
    </div>

    <div class="bg-slate-200 min-h-screen w-full p-6">
      <!-- Admin Panel -->
    </div>
  </div>
</div>
