---
import Dashboard from "./dashboard.astro";
---

<div class="container max-w-full mx-auto min-h-screen">
  <div class="flex items-center justify-between">
    <div
      class="bg-blue-500 min-h-screen w-1/4 flex flex-col items-center text-white text-center"
    >
      <!-- Dashboard -->
      <Dashboard />
    </div>

    <div class="bg-slate-200 min-h-screen w-full p-6">
      <!-- Admin Panel -->
    </div>
  </div>
</div>
