---
import Dashboard from "./dashboard.astro";
import AdminPanel from "./admin-panel.astro";
---

<div class="flex h-100 overflow-hidden">
  <div class="bg-blue-500 w-1/4 text-white text-center">
    <!-- Dashboard -->
    <Dashboard />
  </div>

  <div class="bg-slate-200 min-h-screen w-full">
    <!-- Admin Panel -->
    <AdminPanel />
  </div>
</div>
